################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BeatSaber_BeatmapScanner/bin/Release
/BeatSaber_BeatmapScanner/obj
/BeatSaber_BeatmapScanner/bin/Debug
